.elementor-741 .elementor-element.elementor-element-940f8a2>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-741 .elementor-element.elementor-element-cb040a9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-741 .elementor-element.elementor-element-cb040a9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-ed5b62a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-741 .elementor-element.elementor-element-d0158b3 {
    margin-top: -70px;
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-f089aa9:not(.elementor-motion-effects-element-type-background),
.elementor-741 .elementor-element.elementor-element-f089aa9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EFEFEF;
}

.elementor-741 .elementor-element.elementor-element-f089aa9>.elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-f089aa9,
.elementor-741 .elementor-element.elementor-element-f089aa9>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-741 .elementor-element.elementor-element-f089aa9 {
    box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 10px 40px 10px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-f434c8d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-f434c8d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-f434c8d>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #B0B0B0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-741 .elementor-element.elementor-element-f434c8d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-663f2f7 {
    --icon-box-icon-margin: 16px;
}

.elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-663f2f7.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-663f2f7.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-663f2f7.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-description {
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-663f2f7>.elementor-widget-container {
    padding: 0px 10px 0px 10px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-ee404e5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-ee404e5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-ee404e5>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #B0B0B0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-741 .elementor-element.elementor-element-ee404e5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-35e2959 {
    --icon-box-icon-margin: 16px;
}

.elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-35e2959.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-35e2959.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-35e2959.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-description {
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-35e2959>.elementor-widget-container {
    padding: 0px 10px 0px 10px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-2a4952a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-2a4952a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-2a4952a>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #B0B0B0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-741 .elementor-element.elementor-element-2a4952a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-73ab03b {
    --icon-box-icon-margin: 16px;
}

.elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-73ab03b.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-73ab03b.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-73ab03b.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-description {
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-73ab03b>.elementor-widget-container {
    padding: 0px 10px 0px 10px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-fad49c3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-fad49c3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-fad49c3>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #B0B0B0;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-741 .elementor-element.elementor-element-fad49c3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-6b2e330 {
    --icon-box-icon-margin: 16px;
}

.elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-title {
    margin-bottom: 0px;
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-6b2e330.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-6b2e330.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-6b2e330.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-description {
    color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-6b2e330>.elementor-widget-container {
    padding: 0px 10px 0px 10px;
}

.elementor-741 .elementor-element.elementor-element-2aabae6:not(.elementor-motion-effects-element-type-background),
.elementor-741 .elementor-element.elementor-element-2aabae6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-741 .elementor-element.elementor-element-2aabae6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-741 .elementor-element.elementor-element-2aabae6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-9e97ee8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-9e97ee8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-9e97ee8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-741 .elementor-element.elementor-element-9e97ee8>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-741 .elementor-element.elementor-element-48d539f {
    text-align: left;
}

.elementor-741 .elementor-element.elementor-element-48d539f .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
    text-transform: none;
}

.elementor-741 .elementor-element.elementor-element-00eb8da {
    text-align: left;
}

.elementor-741 .elementor-element.elementor-element-00eb8da .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Roboto";
    font-size: 52px;
    font-weight: 500;
    text-transform: none;
}

.elementor-741 .elementor-element.elementor-element-a89f21c {
    --spacer-size: 20px;
}

.elementor-741 .elementor-element.elementor-element-31cd833 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-741 .elementor-element.elementor-element-31cd833 .elementor-button {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-741 .elementor-element.elementor-element-0580013>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-0580013>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-741 .elementor-element.elementor-element-0580013>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-7dcbf3e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-7dcbf3e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-7dcbf3e>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-741 .elementor-element.elementor-element-7dcbf3e>.elementor-element-populated,
.elementor-741 .elementor-element.elementor-element-7dcbf3e>.elementor-element-populated>.elementor-background-overlay,
.elementor-741 .elementor-element.elementor-element-7dcbf3e>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-741 .elementor-element.elementor-element-7dcbf3e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-3eae5f9 {
    --icon-box-icon-margin: 5px;
}

.elementor-741 .elementor-element.elementor-element-3eae5f9 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-3eae5f9.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-3eae5f9.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-3eae5f9.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-3eae5f9 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-3eae5f9 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-3eae5f9>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-6483564.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-6483564.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-6483564>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-741 .elementor-element.elementor-element-6483564>.elementor-element-populated,
.elementor-741 .elementor-element.elementor-element-6483564>.elementor-element-populated>.elementor-background-overlay,
.elementor-741 .elementor-element.elementor-element-6483564>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-741 .elementor-element.elementor-element-6483564>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-bb5931c {
    --icon-box-icon-margin: 5px;
}

.elementor-741 .elementor-element.elementor-element-bb5931c .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-bb5931c.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-bb5931c.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-bb5931c.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-bb5931c .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-bb5931c .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-bb5931c>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-74f8735.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-74f8735.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-74f8735>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-741 .elementor-element.elementor-element-74f8735>.elementor-element-populated,
.elementor-741 .elementor-element.elementor-element-74f8735>.elementor-element-populated>.elementor-background-overlay,
.elementor-741 .elementor-element.elementor-element-74f8735>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-741 .elementor-element.elementor-element-74f8735>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-76e6937 {
    --icon-box-icon-margin: 5px;
}

.elementor-741 .elementor-element.elementor-element-76e6937 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-76e6937.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-76e6937.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-76e6937.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-76e6937 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-76e6937 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-76e6937>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-f4d5b0e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-f4d5b0e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-f4d5b0e>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-741 .elementor-element.elementor-element-f4d5b0e>.elementor-element-populated,
.elementor-741 .elementor-element.elementor-element-f4d5b0e>.elementor-element-populated>.elementor-background-overlay,
.elementor-741 .elementor-element.elementor-element-f4d5b0e>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-741 .elementor-element.elementor-element-f4d5b0e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-7f6e5cf {
    --icon-box-icon-margin: 5px;
}

.elementor-741 .elementor-element.elementor-element-7f6e5cf .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-7f6e5cf.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-7f6e5cf.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-7f6e5cf.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-7f6e5cf .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-7f6e5cf .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-7f6e5cf>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-c6cc189.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-c6cc189.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-c6cc189>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-741 .elementor-element.elementor-element-c6cc189>.elementor-element-populated,
.elementor-741 .elementor-element.elementor-element-c6cc189>.elementor-element-populated>.elementor-background-overlay,
.elementor-741 .elementor-element.elementor-element-c6cc189>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-741 .elementor-element.elementor-element-c6cc189>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-a7f8d43 {
    --icon-box-icon-margin: 5px;
}

.elementor-741 .elementor-element.elementor-element-a7f8d43 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-a7f8d43.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-a7f8d43.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-a7f8d43.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-a7f8d43 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-a7f8d43 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-a7f8d43>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-69861e1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-69861e1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-69861e1>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-741 .elementor-element.elementor-element-69861e1>.elementor-element-populated,
.elementor-741 .elementor-element.elementor-element-69861e1>.elementor-element-populated>.elementor-background-overlay,
.elementor-741 .elementor-element.elementor-element-69861e1>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-741 .elementor-element.elementor-element-69861e1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-ea9bc24 {
    --icon-box-icon-margin: 5px;
}

.elementor-741 .elementor-element.elementor-element-ea9bc24 .elementor-icon-box-title {
    margin-bottom: 0px;
}

.elementor-741 .elementor-element.elementor-element-ea9bc24.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-ea9bc24.elementor-view-framed .elementor-icon,
.elementor-741 .elementor-element.elementor-element-ea9bc24.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-ea9bc24 .elementor-icon-box-title,
.elementor-741 .elementor-element.elementor-element-ea9bc24 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-741 .elementor-element.elementor-element-ea9bc24>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 15px 15px 15px 15px;
}

.elementor-741 .elementor-element.elementor-element-eb5d5d9:not(.elementor-motion-effects-element-type-background),
.elementor-741 .elementor-element.elementor-element-eb5d5d9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-741 .elementor-element.elementor-element-eb5d5d9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-741 .elementor-element.elementor-element-eb5d5d9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-ff9a54a {
    text-align: center;
}

.elementor-741 .elementor-element.elementor-element-ff9a54a .elementor-heading-title {
    color: var(--e-global-color-0888d3d);
    font-family: "Roboto";
    font-size: 52px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-741 .elementor-element.elementor-element-3212f42 {
    padding: 0px 0px 0px 0px;
}

.elementor-741 .elementor-element.elementor-element-0aad4f7 {
    text-align: center;
}

.elementor-741 .elementor-element.elementor-element-77c66f0:not(.elementor-motion-effects-element-type-background),
.elementor-741 .elementor-element.elementor-element-77c66f0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-741 .elementor-element.elementor-element-77c66f0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 80px 0px;
}

.elementor-741 .elementor-element.elementor-element-77c66f0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-741 .elementor-element.elementor-element-9f1a9cf {
    padding: 20px 0px 80px 0px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-ec6d93f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-ec6d93f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-ec6d93f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-741 .elementor-element.elementor-element-8d3e962 {
    text-align: left;
}

.elementor-741 .elementor-element.elementor-element-8d3e962 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-size: 28px;
    text-transform: none;
}

.elementor-741 .elementor-element.elementor-element-5aa0e7f {
    text-align: left;
}

.elementor-741 .elementor-element.elementor-element-5aa0e7f .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Roboto";
    font-size: 52px;
    font-weight: 700;
    text-transform: none;
}

.elementor-741 .elementor-element.elementor-element-8756e28 {
    --spacer-size: 20px;
}

.elementor-741 .elementor-element.elementor-element-864defb .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-741 .elementor-element.elementor-element-864defb .elementor-button {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-e7710b5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-e7710b5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-25d0e33 img {
    border-radius: 30px 30px 30px 30px;
}

.elementor-741 .elementor-element.elementor-element-2c25f83 {
    --spacer-size: 360px;
    width: var(--container-widget-width, 97%);
    max-width: 97%;
    --container-widget-width: 97%;
    --container-widget-flex-grow: 0;
    top: -16px;
}

body:not(.rtl) .elementor-741 .elementor-element.elementor-element-2c25f83 {
    left: 35px;
}

body.rtl .elementor-741 .elementor-element.elementor-element-2c25f83 {
    right: 35px;
}

.elementor-741 .elementor-element.elementor-element-2c25f83>.elementor-widget-container {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: var(--e-global-color-primary);
    border-radius: 30px 30px 30px 30px;
}

.elementor-741 .elementor-element.elementor-element-cf62c37 {
    padding: 80px 0px 20px 0px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-d4bef79.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-d4bef79.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-f39aa5d img {
    border-radius: 30px 30px 30px 30px;
}

.elementor-741 .elementor-element.elementor-element-2f75d01 {
    --spacer-size: 360px;
    width: var(--container-widget-width, 97%);
    max-width: 97%;
    --container-widget-width: 97%;
    --container-widget-flex-grow: 0;
    top: -16px;
}

body:not(.rtl) .elementor-741 .elementor-element.elementor-element-2f75d01 {
    left: -35px;
}

body.rtl .elementor-741 .elementor-element.elementor-element-2f75d01 {
    right: -35px;
}

.elementor-741 .elementor-element.elementor-element-2f75d01>.elementor-widget-container {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: var(--e-global-color-primary);
    border-radius: 30px 30px 30px 30px;
}

.elementor-bc-flex-widget .elementor-741 .elementor-element.elementor-element-01b3c3b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-01b3c3b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-741 .elementor-element.elementor-element-01b3c3b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-741 .elementor-element.elementor-element-01b3c3b>.elementor-element-populated {
    padding: 10px 10px 10px 60px;
}

.elementor-741 .elementor-element.elementor-element-a3de071 {
    text-align: left;
}

.elementor-741 .elementor-element.elementor-element-a3de071 .elementor-heading-title {
    color: var(--e-global-color-text);
    font-size: 28px;
    text-transform: none;
}

.elementor-741 .elementor-element.elementor-element-30c8612 {
    text-align: left;
}

.elementor-741 .elementor-element.elementor-element-30c8612 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Roboto";
    font-size: 52px;
    font-weight: 700;
    text-transform: none;
}

.elementor-741 .elementor-element.elementor-element-f2f57ac {
    --spacer-size: 20px;
}

.elementor-741 .elementor-element.elementor-element-6ddb855 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-741 .elementor-element.elementor-element-6ddb855 .elementor-button {
    fill: var(--e-global-color-0888d3d);
    color: var(--e-global-color-0888d3d);
    background-color: var(--e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-741 .elementor-element.elementor-element-6320219>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-741 .elementor-element.elementor-element-9e97ee8 {
        width: 50%;
    }

    .elementor-741 .elementor-element.elementor-element-0580013 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-741 .elementor-element.elementor-element-cb040a9 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media(max-width:767px) {
    .elementor-741 .elementor-element.elementor-element-cb040a9 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-741 .elementor-element.elementor-element-d0158b3 {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-741 .elementor-element.elementor-element-68fa4df>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-f089aa9 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 0px 10px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-f434c8d {
        width: 50%;
    }

    .elementor-741 .elementor-element.elementor-element-f434c8d>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-title,
    .elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-title a {
        font-size: 16px;
    }

    .elementor-741 .elementor-element.elementor-element-663f2f7 .elementor-icon-box-description {
        font-size: 12px;
    }

    .elementor-741 .elementor-element.elementor-element-663f2f7>.elementor-widget-container {
        padding: 5px 5px 5px 5px;
    }

    .elementor-741 .elementor-element.elementor-element-ee404e5 {
        width: 50%;
    }

    .elementor-741 .elementor-element.elementor-element-ee404e5>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-title,
    .elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-title a {
        font-size: 16px;
    }

    .elementor-741 .elementor-element.elementor-element-35e2959 .elementor-icon-box-description {
        font-size: 12px;
    }

    .elementor-741 .elementor-element.elementor-element-35e2959>.elementor-widget-container {
        padding: 5px 5px 5px 5px;
    }

    .elementor-741 .elementor-element.elementor-element-2a4952a {
        width: 50%;
    }

    .elementor-741 .elementor-element.elementor-element-2a4952a>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-title,
    .elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-title a {
        font-size: 16px;
    }

    .elementor-741 .elementor-element.elementor-element-73ab03b .elementor-icon-box-description {
        font-size: 12px;
    }

    .elementor-741 .elementor-element.elementor-element-73ab03b>.elementor-widget-container {
        padding: 5px 5px 5px 5px;
    }

    .elementor-741 .elementor-element.elementor-element-fad49c3 {
        width: 50%;
    }

    .elementor-741 .elementor-element.elementor-element-fad49c3>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-title,
    .elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-title a {
        font-size: 16px;
    }

    .elementor-741 .elementor-element.elementor-element-6b2e330 .elementor-icon-box-description {
        font-size: 12px;
    }

    .elementor-741 .elementor-element.elementor-element-6b2e330>.elementor-widget-container {
        padding: 5px 5px 5px 5px;
    }

    .elementor-741 .elementor-element.elementor-element-9e97ee8>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-741 .elementor-element.elementor-element-48d539f {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-48d539f .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-741 .elementor-element.elementor-element-48d539f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-00eb8da {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-00eb8da .elementor-heading-title {
        font-size: 42px;
    }

    .elementor-741 .elementor-element.elementor-element-00eb8da>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-0580013>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-741 .elementor-element.elementor-element-eb5d5d9 {
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-ff9a54a {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-ff9a54a .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-741 .elementor-element.elementor-element-ff9a54a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-3212f42 {
        padding: 0px 10px 0px 10px;
    }

    .elementor-741 .elementor-element.elementor-element-b71a6c7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-77c66f0 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 80px 0px 80px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-9f1a9cf {
        padding: 30px 30px 0px 30px;
    }

    .elementor-741 .elementor-element.elementor-element-ec6d93f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-8d3e962 {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-8d3e962 .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-741 .elementor-element.elementor-element-8d3e962>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-5aa0e7f {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-5aa0e7f .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-741 .elementor-element.elementor-element-5aa0e7f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-e7710b5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-2c25f83 {
        --spacer-size: 270px;
        top: -35px;
    }

    body:not(.rtl) .elementor-741 .elementor-element.elementor-element-2c25f83 {
        left: 35px;
    }

    body.rtl .elementor-741 .elementor-element.elementor-element-2c25f83 {
        right: 35px;
    }

    .elementor-741 .elementor-element.elementor-element-cf62c37 {
        padding: 80px 30px 0px 30px;
    }

    .elementor-741 .elementor-element.elementor-element-d4bef79>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-2f75d01 {
        --spacer-size: 270px;
        top: -35px;
    }

    .elementor-741 .elementor-element.elementor-element-01b3c3b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-a3de071 {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-a3de071 .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-741 .elementor-element.elementor-element-a3de071>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-741 .elementor-element.elementor-element-30c8612 {
        text-align: center;
    }

    .elementor-741 .elementor-element.elementor-element-30c8612 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-741 .elementor-element.elementor-element-30c8612>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

}
