.elementor-1416 .elementor-element.elementor-element-75fef179:not(.elementor-motion-effects-element-type-background),
.elementor-1416 .elementor-element.elementor-element-75fef179>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-75fef179 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 70px 0px;
}

.elementor-1416 .elementor-element.elementor-element-75fef179>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1416 .elementor-element.elementor-element-315b7902>.elementor-element-populated {
    margin: 0px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
}

.elementor-1416 .elementor-element.elementor-element-9698743 .hfe-site-logo-container,
.elementor-1416 .elementor-element.elementor-element-9698743 .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-1416 .elementor-element.elementor-element-9698743 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-1416 .elementor-element.elementor-element-9698743 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1416 .elementor-element.elementor-element-55857c96 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 9px;
    --grid-row-gap: 0px;
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-widget-container {
    text-align: center;
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-social-icon {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-social-icon i {
    color: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-social-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-social-icon:hover {
    background-color: #ffffff;
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-social-icon:hover i {
    color: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-social-icon:hover svg {
    fill: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-55857c96>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1416 .elementor-element.elementor-element-247efb.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1416 .elementor-element.elementor-element-247efb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1416 .elementor-element.elementor-element-247efb>.elementor-element-populated {
    padding: 20px 0px 0px 0px;
}

.elementor-1416 .elementor-element.elementor-element-5f5f406 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1416 .elementor-element.elementor-element-5f5f406 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1416 .elementor-element.elementor-element-5f5f406 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1416 .elementor-element.elementor-element-5f5f406 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1416 .elementor-element.elementor-element-5f5f406 .elementor-icon-list-item>a {
    font-size: 16px;
}

.elementor-1416 .elementor-element.elementor-element-5f5f406 .elementor-icon-list-text {
    color: var(--e-global-color-0888d3d);
    transition: color 0.3s;
}

.elementor-1416 .elementor-element.elementor-element-5f5f406>.elementor-widget-container {
    padding: 0px 0px 0px 40px;
}

.elementor-bc-flex-widget .elementor-1416 .elementor-element.elementor-element-67271fcb.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1416 .elementor-element.elementor-element-67271fcb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1416 .elementor-element.elementor-element-67271fcb>.elementor-element-populated {
    padding: 20px 0px 0px 0px;
}

.elementor-1416 .elementor-element.elementor-element-62f0eba {
    color: var(--e-global-color-0888d3d);
    font-size: 16px;
}

.elementor-1416 .elementor-element.elementor-element-62f0eba>.elementor-widget-container {
    padding: 0px 0px 0px 40px;
}

.elementor-bc-flex-widget .elementor-1416 .elementor-element.elementor-element-6265101c.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1416 .elementor-element.elementor-element-6265101c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1416 .elementor-element.elementor-element-6265101c>.elementor-element-populated {
    margin: 0px 0px 0px 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px;
}

.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1em;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-0888d3d);
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px 10px 30px;
}

.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button:hover,
.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button:hover svg,
.elementor-1416 .elementor-element.elementor-element-34c8d7a .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-34c8d7a>.elementor-widget-container {
    margin: 0px 5px 0px 5px;
}

.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1em;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-0888d3d);
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px 10px 30px;
}

.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button:hover,
.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button:hover svg,
.elementor-1416 .elementor-element.elementor-element-e3be2af .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-e3be2af>.elementor-widget-container {
    margin: 0px 5px 0px 5px;
}

.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button .elementor-button-content-wrapper {
    gap: 10px;
}

.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1em;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-0888d3d);
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px 10px 30px;
}

.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button:hover,
.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button:focus {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-0888d3d);
    border-color: var(--e-global-color-0888d3d);
}

.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button:hover svg,
.elementor-1416 .elementor-element.elementor-element-e7d1942 .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-1416 .elementor-element.elementor-element-e7d1942>.elementor-widget-container {
    margin: 0px 5px 0px 5px;
}

.elementor-1416 .elementor-element.elementor-element-66642afb>.elementor-container {
    min-height: 50px;
}

.elementor-1416 .elementor-element.elementor-element-66642afb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1416 .elementor-element.elementor-element-66642afb:not(.elementor-motion-effects-element-type-background),
.elementor-1416 .elementor-element.elementor-element-66642afb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-0888d3d);
}

.elementor-1416 .elementor-element.elementor-element-66642afb {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(255, 255, 255, 0.19);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1416 .elementor-element.elementor-element-66642afb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1416 .elementor-element.elementor-element-6e89218e {
    text-align: center;
}

.elementor-1416 .elementor-element.elementor-element-6e89218e .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Lato";
    font-weight: 400;
}

.elementor-1416 .elementor-element.elementor-element-e89fb14 {
    text-align: center;
}

.elementor-1416 .elementor-element.elementor-element-e89fb14 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Lato";
    font-weight: 400;
}

@media(max-width:1024px) {
    .elementor-1416 .elementor-element.elementor-element-75fef179 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-1416 .elementor-element.elementor-element-315b7902>.elementor-element-populated {
        margin: 0% 15% 0% 0%;
        --e-column-margin-right: 15%;
        --e-column-margin-left: 0%;
    }

    .elementor-1416 .elementor-element.elementor-element-55857c96 {
        --icon-size: 10px;
    }

    .elementor-1416 .elementor-element.elementor-element-6265101c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-66642afb {
        padding: 10px 20px 10px 20px;
    }
}

@media(max-width:767px) {
    .elementor-1416 .elementor-element.elementor-element-75fef179 {
        padding: 35px 20px 35px 20px;
    }

    .elementor-1416 .elementor-element.elementor-element-315b7902>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-315b7902>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-55857c96 .elementor-widget-container {
        text-align: center;
    }

    .elementor-1416 .elementor-element.elementor-element-55857c96 {
        --icon-size: 26px;
        --grid-column-gap: 30px;
    }

    .elementor-1416 .elementor-element.elementor-element-247efb {
        width: 50%;
    }

    .elementor-1416 .elementor-element.elementor-element-247efb>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-5f5f406>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-67271fcb {
        width: 50%;
    }

    .elementor-1416 .elementor-element.elementor-element-67271fcb>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 20px;
    }

    .elementor-1416 .elementor-element.elementor-element-62f0eba>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-6265101c {
        width: 100%;
    }

    .elementor-1416 .elementor-element.elementor-element-6265101c>.elementor-element-populated {
        padding: 30px 0px 30px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-66642afb {
        padding: 30px 20px 20px 20px;
    }

    .elementor-1416 .elementor-element.elementor-element-76057e5f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-6e89218e {
        text-align: center;
    }

    .elementor-1416 .elementor-element.elementor-element-f28c419>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1416 .elementor-element.elementor-element-e89fb14 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-1416 .elementor-element.elementor-element-315b7902 {
        width: 30%;
    }

    .elementor-1416 .elementor-element.elementor-element-247efb {
        width: 22.5%;
    }

    .elementor-1416 .elementor-element.elementor-element-67271fcb {
        width: 22.5%;
    }

    .elementor-1416 .elementor-element.elementor-element-6265101c {
        width: 25%;
    }

    .elementor-1416 .elementor-element.elementor-element-76057e5f {
        width: 70%;
    }

    .elementor-1416 .elementor-element.elementor-element-f28c419 {
        width: 30%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1416 .elementor-element.elementor-element-315b7902 {
        width: 35%;
    }

    .elementor-1416 .elementor-element.elementor-element-247efb {
        width: 20%;
    }

    .elementor-1416 .elementor-element.elementor-element-67271fcb {
        width: 20%;
    }

    .elementor-1416 .elementor-element.elementor-element-6265101c {
        width: 20%;
    }
}