.elementor-3557 .elementor-element.elementor-element-9982bf9 {
    padding: 0px 0px 0px 0px;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-5f92709 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-5f92709 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-96989f0 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-96989f0 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-63ec546 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-63ec546 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-0d4534f i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-repeater-item-0d4534f svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d {
    --e-price-table-header-background-color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__header {
    padding: 30px 0px 0px 0px;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__heading {
    color: var(--e-global-color-primary);
    font-size: 72px;
    font-weight: 900;
    line-height: 0.7em;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__subheading {
    color: var(--e-global-color-primary);
    font-size: 42px;
    font-weight: 900;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__price {
    padding: 30px 0px 30px 0px;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__currency,
.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__integer-part,
.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__fractional-part {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table .elementor-price-table__price {
    font-size: 48px;
    font-weight: 500;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__price>.elementor-price-table__currency {
    font-size: calc(36em/100);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__currency {
    align-self: flex-start;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__fractional-part {
    font-size: calc(36em/100);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__after-price {
    justify-content: flex-start;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__period {
    color: var(--e-global-color-0888d3d);
    font-size: 12px;
    font-weight: 600;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__features-list {
    padding: 0px 0px 0px 0px;
    --e-price-table-features-list-color: var(--e-global-color-0888d3d);
    text-align: center;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__features-list li {
    font-size: 16px;
    line-height: 2.5em;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__feature-inner {
    margin-left: calc((100% - 80%)/2);
    margin-right: calc((100% - 80%)/2);
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__footer {
    background-color: #1362A5;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d .elementor-price-table__button {
    color: var(--e-global-color-primary);
    font-size: 16px;
    line-height: 0.5em;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 50px 50px 50px 50px;
}

.elementor-3557 .elementor-element.elementor-element-26e1b2d>.elementor-widget-container {
    background-color: var(--e-global-color-primary);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-5f92709 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-5f92709 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-96989f0 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-96989f0 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-63ec546 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-63ec546 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-0d4534f i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-repeater-item-0d4534f svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 {
    --e-price-table-header-background-color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__header {
    padding: 30px 0px 0px 0px;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__heading {
    color: var(--e-global-color-primary);
    font-size: 72px;
    font-weight: 900;
    line-height: 0.7em;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__subheading {
    color: var(--e-global-color-primary);
    font-size: 42px;
    font-weight: 900;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__price {
    padding: 30px 0px 30px 0px;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__currency,
.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__integer-part,
.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__fractional-part {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table .elementor-price-table__price {
    font-size: 48px;
    font-weight: 500;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__price>.elementor-price-table__currency {
    font-size: calc(36em/100);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__currency {
    align-self: flex-start;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__fractional-part {
    font-size: calc(36em/100);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__after-price {
    justify-content: flex-start;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__period {
    color: var(--e-global-color-0888d3d);
    font-size: 12px;
    font-weight: 600;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__features-list {
    padding: 0px 0px 0px 0px;
    --e-price-table-features-list-color: var(--e-global-color-0888d3d);
    text-align: center;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__features-list li {
    font-size: 16px;
    line-height: 2.5em;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__feature-inner {
    margin-left: calc((100% - 80%)/2);
    margin-right: calc((100% - 80%)/2);
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__footer {
    background-color: #1362A5;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0 .elementor-price-table__button {
    color: var(--e-global-color-primary);
    font-size: 16px;
    line-height: 0.5em;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 50px 50px 50px 50px;
}

.elementor-3557 .elementor-element.elementor-element-e5aefe0>.elementor-widget-container {
    background-color: var(--e-global-color-primary);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-5f92709 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-5f92709 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-96989f0 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-96989f0 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-63ec546 i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-63ec546 svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-0d4534f i {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-repeater-item-0d4534f svg {
    fill: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 {
    --e-price-table-header-background-color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__header {
    padding: 30px 0px 0px 0px;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__heading {
    color: var(--e-global-color-primary);
    font-size: 72px;
    font-weight: 900;
    line-height: 0.7em;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__subheading {
    color: var(--e-global-color-primary);
    font-size: 42px;
    font-weight: 900;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__price {
    padding: 30px 0px 30px 0px;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__currency,
.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__integer-part,
.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__fractional-part {
    color: var(--e-global-color-0888d3d);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table .elementor-price-table__price {
    font-size: 48px;
    font-weight: 500;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__price>.elementor-price-table__currency {
    font-size: calc(36em/100);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__currency {
    align-self: flex-start;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__fractional-part {
    font-size: calc(36em/100);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__after-price {
    justify-content: flex-start;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__period {
    color: var(--e-global-color-0888d3d);
    font-size: 12px;
    font-weight: 600;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__features-list {
    padding: 0px 0px 0px 0px;
    --e-price-table-features-list-color: var(--e-global-color-0888d3d);
    text-align: center;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__features-list li {
    font-size: 16px;
    line-height: 2.5em;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__feature-inner {
    margin-left: calc((100% - 80%)/2);
    margin-right: calc((100% - 80%)/2);
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__footer {
    background-color: #1362A5;
}

.elementor-3557 .elementor-element.elementor-element-ee28627 .elementor-price-table__button {
    color: var(--e-global-color-primary);
    font-size: 16px;
    line-height: 0.5em;
    background-color: var(--e-global-color-0888d3d);
    border-radius: 50px 50px 50px 50px;
}

.elementor-3557 .elementor-element.elementor-element-ee28627>.elementor-widget-container {
    background-color: var(--e-global-color-primary);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media(max-width:767px) {
    .elementor-3557 .elementor-element.elementor-element-d618284>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-3557 .elementor-element.elementor-element-c7322a6>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-3557 .elementor-element.elementor-element-31c3002>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 30px 0px;
    }
}